@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400');

// Set your brand colors
$green: #9FBF2A;
$green-dark: #748C1B;
$pink-light: #F2DFE2;
$pink: #F29B88;
$pink-dark: #F27166;

// Update Bulma's global variables
$family-sans-serif: 'Josefin Sans', sans-serif;
$primary: $pink;
$primary-light: $pink-light;
$primary-dark: $pink-dark;
$link: $green;
$link-dark: $green-dark;

// Import only what you need from Bulma
@import "../../mybulma/sass/base/_all.sass";
@import "../../mybulma/sass/utilities/_all.sass";
@import "../../mybulma/sass/elements/button.sass";
// @import "../../mybulma/sass/elements/container.sass";
// @import "../../mybulma/sass/elements/title.sass";
@import "../../mybulma/sass/form/_all.sass";
// @import "../../mybulma/sass/components/navbar.sass";
// @import "../../mybulma/sass/layout/hero.sass";
// @import "../../mybulma/sass/layout/section.sass";

//The rest of Bulma
// @import "../../mybulma/bulma.sass";