@charset "utf-8";

// Import  Google Fonts
//Josefin Sans & Noto Serif
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Noto+Serif&display=swap');

//Import Bulma's variables
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

// Set WfDP theme colors
$green-light: #C3E54A;
$green: #9FBF2A;
$green-dark: #748C1B;
$pink-light: #fff0f7;
$pink: #F29B88;
$pink-dark: #F27166;

// Update Bulma's global variables
$family-sans-serif: 'Josefin Sans', sans-serif;
$family-serif: 'Noto Serif', serif;
$primary: $pink;
$primary-light: $pink-light;
$primary-dark: $pink-dark;
$link-light: $green-light;
$link: $green;
$link-dark: $green-dark;

// Navbar
$navbar-breakpoint: $tablet;

// Import only what you need from Bulma node modules
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
// @import "../../node_modules/bulma/sass//elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

//The rest of Bulma
@import "../../node_modules/bulma/bulma.sass";

//Bulma-Tooltip
@import "../../node_modules/bulma-tooltip/src/sass/index.sass";
